
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Josefin Sans';
    color: #707070;
    flex: wrap;
}
.iconList {
    margin: 2rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    
}
.iconList :nth-child(1) {
    width: 100%;
}
.line {
    width: 75%;
    margin: 0 auto;
}