.content {
    overflow-y: scroll;
    max-height: 60vh;
}
.bold {
    line-height: 2;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: #707070;
    text-align: center;
    margin: 1rem;
}