.icon {
    /* display: flex; 
    justify-content: flex-end;
    flex-direction: column;
    height: 5rem;
    /* z-index: 9; */
    align-items: center;
    text-align: center;
    width: 100%; 
    bottom: 5%;

}