.bookingsWrapper {
    align-items: stretch;
    box-sizing: border-box;
    margin: 5rem auto;
    width: 100%;
    max-width: 1200px;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.priceContainer{
    width: 40%;
    min-height: 390px;
    min-width: 304px;
    max-width: 395px;
    text-align: center; 
    color: #C3A97B;
    line-height: 1.4em;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    margin: 15px auto;
}
/* @media screen and (min-width: 360px){
    .price-container{
        min-width: 360px;
    }
} */
@media screen and (min-width: 768px) {
    .priceContainer{
        margin: 0px 5px;
    }
}
.dateEnquiry {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    line-height: 1.4em;
}
span.sm{
    font-size: 22px;
}
span.white{
    color: white;

}
.header {
    margin: 0px auto;
    position: relative;
    background-color: #323349;
    width: 100%;
    height: 100px;
    line-height: 1em;
    padding-top: 25px;
    box-sizing: border-box;
}
.priceFiller {
    margin: 50px auto 0px auto;
    max-width: 80%;
}
.priceBreakdown {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
    max-width: 70%;
}
.priceBreakdown > li{
    padding: 5px 0px;
}
/* .padding {
    padding: 20px 0px;

} */
.none{
    display: none;
}
.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}
.border{
    border-top: solid 1px;
    /* border-bottom: solid 1px; */
}
.clicked {
    background-color: #C0C0C0;
}

.clickedRange {
    background-color: #F1F1F1;
}
.book-btn {
    text-align: center;
    background-color: #EDCC77;
    border-radius: 10px;
    padding: 20px 70px 20px;
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 1em;
    text-decoration: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    /* margin-bottom: 20px; */

    /*color gradient*/
    
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}    
.book-btn:hover {
    background-color:#F4D482;
    /* padding: 22px 72px 22px; */

}
.book-btn:focus {
    outline: none !important;
}