.h1 {
    color: #FCF9EF;
    padding: 1rem;
    font-family: 'Oranienbaum', serif;
    font-weight: 500;
    font-size: 2.8rem;
    max-width: 27rem;
    text-decoration: none;
    position: absolute;
    /* text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 70%; */
    text-align: center;
    bottom: 15vh;
}

@media screen and (min-width: 320px){
    .h1 {
        font-size: 3.5rem;
        max-width: 32rem;
    }
}
.hero {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/carouselImages/img_13b.jpg");
    height: calc(100vh - 5rem);
    background-position: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 3rem;
}
