.h1 {
    color: #FCF9EF;
    padding: 1rem;
    font-family: 'Oranienbaum', serif;
    font-weight: 500;
    font-size: 3.5rem;
    width: 27rem;
    text-decoration: none;
    bottom: 5%;
    left: 10%;
    position: absolute;
}
.hero {
    margin-top: 4rem;
    position: relative;
    /* background-color: red; */
    width: 100%;
}
.img {
    max-height: 80vh;
}
.summary {
    max-width: 1000px;
    margin: -1rem auto 0rem auto;
    background-color: #f1eade;
    padding: 3rem 6rem;
    line-height: 2;
    text-align: center;
    color: rgb(49, 49, 49);
    
}