
.carousel{
    background-color: #e4e4e4;
    width: 100%;
    padding: 0vh 0vw;
    z-index: 9;
}
.carousel div{
    height: 80vh;
    min-height: 450px;
}

.carousel div div:nth-child(1){
    width: 100rem;
    max-width: 65%;
}
.carousel div div:nth-child(2){
    width: 100rem;
    max-width: 70%;
}
.carousel div div:nth-child(3){
    width: 100rem;
    max-width: 65%;
}

@media screen and (min-width: 900px){ 
    .carousel{
        padding: 5vh 10vw;
    }
    .carousel div{
        height: 70vh;
    }
    .carousel div div:nth-child(1){
        visibility: visible;
        width: 100rem;
        max-width: 25%;
    }
    .carousel div div:nth-child(2){
        width: 100rem;
        max-width: 30%;
    }
    .carousel div div:nth-child(3){
        width: 100rem;
        max-width: 45%;
    }
    .carousel div div:nth-child(4){
        width: 100rem;
        max-width: 55%;
    }
    .carousel div div:nth-child(5){
        width: 100rem;
        max-width: 45%;
    }
    .carousel div div:nth-child(6){
        width: 100rem;
        max-width: 30%;
    }
    .carousel div div:nth-child(7){
        width: 100rem;
        max-width: 25%;
    }

}