
.container {
    position: relative;
    margin-top: 5rem;
}

.card {
    display: block;
    position: relative;
    margin: 0rem auto;
    height: 100vh;
    width: 100%;
    object-fit: cover !important;
    
}

.objectWrapper {
   position:relative;
   margin-top: 5rem;;
}
.customImg {
    
    object-fit: cover;
    /* width: 100% !important;
    position: relative !important;
    height: unset !important;
    top: 5rem;
    margin-top: 1rem !important; */
}

/* .unsetImg {
    width: 100%;
}
.unsetImg > div {
    position: unset !important;
} */
.lakeImg {
    background-image: url("../public/carouselImages/img_13b.jpg");
    height: 100vh;
    background-position: 90%;
}
.center {
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 70%;
    /* font-size: 3.8rem; */
}
.scrollText {
    font-size: 1.2rem;
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: auto;
    font-family: 'Mulish', sans-serif;
    padding: 3rem  2rem;
    line-height: 2;
    color: rgb(49, 49, 49);
}


.colBlock {
    background-color: #e6e3d7;
    content: '';
    position: absolute;
    bottom: 0;
    width: 75%;
    right: 0;
    top: 0;
    z-index: -1;
}
.offsetCard {
    position: absolute;
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
    max-width: 600px;
    font-family: 'Mulish', sans-serif;
    padding: 2rem;
    line-height: 2;
    z-index: 9;
    bottom: 0;
    right: 0;
    /* background-color: white; */
}

.white {
    background-color: white;
    padding: 1rem;
    min-height: 350px;
}
.offsetCard h2 {
    color: #686868;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}
.title {
    font-size: 2rem;
    color: #A9A9A9;
}
@media screen and (min-width: 768px) {
    .card {
        /* width: 90%; */
    }
    .offsetCard {
        right: 10%;
        padding: 3rem;
    }
    .white {
        padding: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .unsetImg > span {
        /* max-width: 60%; */
        height: auto;
    }
    .objectWrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* margin: 6rem; */
        margin-left: 10%;    }
    .offsetCard {
        position: relative;
        margin-left: -30%;
        margin-bottom: -3rem;
    }
    
    .card {
        margin: 3rem 0;
        /* object-fit: contain;
        position: relative;
        display: block;
        margin: auto;
        width: 60%;
        margin: auto;
        background-color: #5b65ad;
        z-index: 1; */
    }
        /* height: ; */
        /* max-width: 450px; */
        /* height: 20rem;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center; */
    /* } */

    /* .imgContainer {
        width:600px;
    } */
}
