.priceContainer{
    width: 100%;
    max-width: 395px;
    text-align: center; 
    color: #C3A97B;
    line-height: 1.4em;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    margin: auto;
    min-height: 520px;
}
@media screen and (max-width: 1200px){
    .priceContainer{
        margin-top: 5rem;
    }
}
.dateEnquiry {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.4em;
}
.white{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e5ddd0;
    margin: auto;
    padding: 1rem;
}
.header {
    margin: auto;
    position: relative;
    background-color: #323349;
    width: 100%;
    height: 120px;
    line-height: 2em;
    box-sizing: border-box;
}
.priceFiller {
    margin: 3rem auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info {
    font-size: 1.2rem;
}
.blue {
    color: #323349;
}
.caps {
    text-transform: uppercase;
    font-weight: 700;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexEnd {
    align-self: flex-end;
    margin-bottom: 0;
}
.priceBreakdown {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
    max-width: 70%;
}
.priceBreakdown > li{
    padding: 5px 0px;
}
.bookBtn {
    margin: 2rem auto !important;
}