.name {
    display: inline;
    margin-left: 0.2rem;
}
.date {
    float: right;
}
.body {
    margin-top: 0.5rem;
    line-height: 1.5rem;
}
.reviewsBtn {
    margin: 0.5rem auto;
    text-decoration: underline;
}